In [1]:
import pandas as pd
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv')

In [3]:
df['Major'] = df['Major'].str.title()

In [4]:
query = 'SELECT * FROM df LIMIT 5'
results = pysqldf(query)
print(results.head())

   Rank  Major_code                                      Major    Total  \
0     1        2419                      Petroleum Engineering   2339.0
1     2        2416             Mining And Mineral Engineering    756.0
2     3        2415                  Metallurgical Engineering    856.0
3     4        2417  Naval Architecture And Marine Engineering   1258.0
4     5        2405                       Chemical Engineering  32260.0

       Men    Women Major_category  ShareWomen  Sample_size  Employed  ...  \
0   2057.0    282.0    Engineering    0.120564           36      1976  ...
1    679.0     77.0    Engineering    0.101852            7       640  ...
2    725.0    131.0    Engineering    0.153037            3       648  ...
3   1123.0    135.0    Engineering    0.107313           16       758  ...
4  21239.0  11021.0    Engineering    0.341631          289     25694  ...

   Part_time  Full_time_year_round  Unemployed  Unemployment_rate  Median  \
0        270                  1207          37           0.018381  110000
1        170                   388          85           0.117241   75000
2        133                   340          16           0.024096   73000
3        150                   692          40           0.050125   70000
4       5180                 16697        1672           0.061098   65000

   P25th   P75th  College_jobs  Non_college_jobs  Low_wage_jobs
0  95000  125000          1534               364            193
1  55000   90000           350               257             50
2  50000  105000           456               176              0
3  43000   80000           529               102              0
4  50000   75000         18314              4440            972

[5 rows x 21 columns]

## 1. What majors have more than 50% share of women? How does the unemployment rate for these majors compare to the average unemployment rate of all majors?

In [5]:
query = '''SELECT Major,
                  ShareWomen, 
                  Unemployment_rate, 
                  Unemployment_rate - (SELECT AVG(Unemployment_rate) FROM df) AS rate_diff 
           FROM df WHERE ShareWomen > .5 
           ORDER BY ShareWomen DESC 
        '''
print(pysqldf(query))

                                            Major  ShareWomen  \
0                       Early Childhood Education    0.968954
1   Communication Disorders Sciences And Services    0.967998
2                      Medical Assisting Services    0.927807
3                            Elementary Education    0.923745
4                    Family And Consumer Sciences    0.910933
..                                            ...         ...
91                           Biochemical Sciences    0.515406
92    Social Science Or History Teacher Education    0.507377
93                                          Music    0.506721
94                                      Chemistry    0.505141
95  Physical Fitness Parks Recreation And Leisure    0.502846

    Unemployment_rate  rate_diff
0            0.040105  -0.028086
1            0.047584  -0.020607
2            0.042507  -0.025684
3            0.046586  -0.021605
4            0.067128  -0.001063
..                ...        ...
91           0.080531   0.012341
92           0.054083  -0.014108
93           0.075960   0.007769
94           0.053972  -0.014218
95           0.051467  -0.016724

[96 rows x 4 columns]

## 2. Do majors with more than 90% female grads have a lower average unemployment rate than the overall average unemployment rate?

In [6]:
query = '''SELECT AVG(t1.Unemployment_rate) AS avg_rate_90_women_share, 
                  t2.avg_rate 
           FROM (SELECT Major, 
                        ShareWomen, 
                        Unemployment_rate 
                 FROM df 
                 WHERE ShareWomen > .9
                 ) t1
           JOIN (SELECT AVG(Unemployment_rate) AS avg_rate 
                 FROM df
                 ) t2
'''
print(pysqldf(query))

   avg_rate_90_women_share  avg_rate
0                 0.049008  0.068191

## 3. Are there any majors with no female graduates?

In [7]:
query = '''SELECT Major, 
                  ShareWomen 
           FROM df 
           WHERE ShareWomen <= 0 
           ORDER BY ShareWomen DESC 
        '''
print(pysqldf(query))

                   Major  ShareWomen
0  Military Technologies         0.0

## 4. Find the number of majors and the number of graduates working in each category.

In [8]:
query = '''SELECT Major_category, 
                  COUNT(*) AS num_of_majors, 
                  SUM(Total) AS num_of_grad 
           FROM df 
           GROUP BY Major_category 
           ORDER BY SUM(Total) DESC
        '''
print(pysqldf(query))

                         Major_category  num_of_majors  num_of_grad
0                              Business             13    1302376.0
1             Humanities & Liberal Arts             15     713468.0
2                             Education             16     559129.0
3                           Engineering             29     537583.0
4                        Social Science              9     529966.0
5              Psychology & Social Work              9     481007.0
6                                Health             12     463230.0
7                Biology & Life Science             14     453862.0
8           Communications & Journalism              4     392601.0
9                                  Arts              8     357130.0
10              Computers & Mathematics             11     299008.0
11  Industrial Arts & Consumer Services              7     229792.0
12                    Physical Sciences             10     185479.0
13                  Law & Public Policy              5     179107.0
14      Agriculture & Natural Resources             10      75620.0
15                    Interdisciplinary              1      12296.0

## 5. What is the average share of women in each major category?

In [9]:
query = '''SELECT Major_category, 
                  AVG(ShareWomen) AS avg_share 
           FROM df GROUP 
           BY Major_category 
           ORDER BY AVG(ShareWomen) DESC

        '''
print(pysqldf(query))

                         Major_category  avg_share
0                                Health   0.795152
1              Psychology & Social Work   0.794397
2                     Interdisciplinary   0.770901
3                             Education   0.748507
4           Communications & Journalism   0.658384
5             Humanities & Liberal Arts   0.631790
6                                  Arts   0.603658
7                Biology & Life Science   0.587193
8                        Social Science   0.553962
9                     Physical Sciences   0.508683
10                  Law & Public Policy   0.483649
11                             Business   0.483198
12      Agriculture & Natural Resources   0.405267
13  Industrial Arts & Consumer Services   0.349523
14              Computers & Mathematics   0.311772
15                          Engineering   0.238889

## 6. For the major category with the lowest average share, find the difference between the major share and the category share sorted by the difference descending.

In [10]:
query = '''SELECT Major, 
                  ShareWomen, 
                  ShareWomen-cat_share 
           FROM df 
           JOIN (SELECT Major_category, 
                        MIN(avg_share) AS cat_share 
                 FROM (SELECT Major_category,
                              AVG(ShareWomen) AS avg_share 
                       FROM df 
                       GROUP BY Major_category)
                ) t1 
            ON df.Major_category = t1.Major_category 
            ORDER BY ShareWomen-cat_share DESC

        '''
print(pysqldf(query))

                                          Major  ShareWomen  \
0                                  Architecture    0.451465
1                        Biomedical Engineering    0.437847
2                     Architectural Engineering    0.350442
3      Industrial And Manufacturing Engineering    0.343473
4                     Environmental Engineering    0.342229
5                          Chemical Engineering    0.341631
6   Materials Engineering And Materials Science    0.325092
7        Geological And Geophysical Engineering    0.322222
8                        Biological Engineering    0.320784
9                             Materials Science    0.310820
10            Electrical Engineering Technology    0.292607
11                          General Engineering    0.252960
12                     Engineering Technologies    0.251389
13           Industrial Production Technologies    0.249190
14                            Civil Engineering    0.227118
15       Miscellaneous Engineering Technologies    0.200023
16                         Computer Engineering    0.199413
17                       Electrical Engineering    0.196450
18                    Miscellaneous Engineering    0.189970
19    Engineering Mechanics Physics And Science    0.183985
20        Engineering And Industrial Management    0.174123
21                    Metallurgical Engineering    0.153037
22                          Nuclear Engineering    0.144967
23                        Aerospace Engineering    0.139793
24                        Petroleum Engineering    0.120564
25                       Mechanical Engineering    0.119559
26    Naval Architecture And Marine Engineering    0.107313
27               Mining And Mineral Engineering    0.101852
28  Mechanical Engineering Related Technologies    0.077453

    ShareWomen-cat_share
0               0.212576
1               0.198958
2               0.111554
3               0.104585
4               0.103340
5               0.102742
6               0.086203
7               0.083334
8               0.081896
9               0.071932
10              0.053718
11              0.014071
12              0.012500
13              0.010302
14             -0.011771
15             -0.038866
16             -0.039476
17             -0.042438
18             -0.048918
19             -0.054903
20             -0.064766
21             -0.085851
22             -0.093922
23             -0.099096
24             -0.118324
25             -0.119330
26             -0.131575
27             -0.137037
28             -0.161436

## 7. Which major has the highest unemployment rate and lowest salary?

In [11]:
query = '''SELECT Major, 
                  MAX(Unemployment_rate) AS Unemployment_rate, 
                  MIN(Median) AS Median_salary, 
                  ShareWomen 
           FROM df
        '''
print(pysqldf(query))

             Major  Unemployment_rate  Median_salary  ShareWomen
0  Library Science           0.177226          22000     0.87796

## 8. Do the major(s) with the lowest unemployment rate have the highest 75th percentile salary?

In [12]:
query = '''SELECT Major, 
                  Unemployment_rate, 
                  P75th, 
                  (SELECT MAX(P75th) AS Unemployment_rate 
                   FROM df) AS highest_75th 
           FROM df 
           WHERE Unemployment_rate = (SELECT MIN(Unemployment_rate) 
                                      FROM df)
        '''
print(pysqldf(query))

                                        Major  Unemployment_rate  P75th  \
0            Mathematics And Computer Science                0.0  78000
1                       Military Technologies                0.0  40000
2                                      Botany                0.0  40000
3                                Soil Science                0.0  44000
4  Educational Administration And Supervision                0.0  35000

   highest_75th
0        125000
1        125000
2        125000
3        125000
4        125000

## 9. Rank each major category by their average median salary.

In [13]:
query = '''SELECT Major_category, 
                  AVG(Median), 
                  ROW_NUMBER() OVER(ORDER BY AVG(Median) DESC) 
           FROM df 
           GROUP BY Major_category
        '''
print(pysqldf(query))

                         Major_category   AVG(Median)  \
0                           Engineering  57382.758621
1                              Business  43538.461538
2               Computers & Mathematics  42745.454545
3                   Law & Public Policy  42200.000000
4                     Physical Sciences  41890.000000
5                        Social Science  37344.444444
6       Agriculture & Natural Resources  36900.000000
7                                Health  36825.000000
8                Biology & Life Science  36421.428571
9   Industrial Arts & Consumer Services  36342.857143
10                    Interdisciplinary  35000.000000
11          Communications & Journalism  34500.000000
12                                 Arts  33062.500000
13                            Education  32350.000000
14            Humanities & Liberal Arts  31913.333333
15             Psychology & Social Work  30100.000000

    ROW_NUMBER() OVER(ORDER BY AVG(Median) DESC)
0                                              1
1                                              2
2                                              3
3                                              4
4                                              5
5                                              6
6                                              7
7                                              8
8                                              9
9                                             10
10                                            11
11                                            12
12                                            13
13                                            14
14                                            15
15                                            16

## 10. Rank each major by unemployment rate within each major category.

In [14]:
query = '''SELECT Major, 
                  Major_category, 
                  Unemployment_rate, 
                  ROW_NUMBER() OVER(PARTITION BY Major_category ORDER BY Unemployment_rate DESC) 
           FROM df
        '''
print(pysqldf(query))

                                 Major                   Major_category  \
0                         Food Science  Agriculture & Natural Resources
1                             Forestry  Agriculture & Natural Resources
2               Agricultural Economics  Agriculture & Natural Resources
3         Natural Resources Management  Agriculture & Natural Resources
4            Miscellaneous Agriculture  Agriculture & Natural Resources
..                                 ...                              ...
168                        Criminology                   Social Science
169            International Relations                   Social Science
170  Interdisciplinary Social Sciences                   Social Science
171                          Sociology                   Social Science
172      Miscellaneous Social Sciences                   Social Science

     Unemployment_rate  \
0             0.096931
1             0.096726
2             0.077250
3             0.066619
4             0.059767
..                 ...
168           0.097244
169           0.096799
170           0.092306
171           0.084951
172           0.073080

     ROW_NUMBER() OVER(PARTITION BY Major_category ORDER BY Unemployment_rate DESC)
0                                                    1
1                                                    2
2                                                    3
3                                                    4
4                                                    5
..                                                 ...
168                                                  5
169                                                  6
170                                                  7
171                                                  8
172                                                  9

[173 rows x 4 columns]